/* media query 1024 */

@media screen and (max-width: 1024px) {}

@media (max-width: 768px) {

    .header .left {
        padding-top: 95px;
    }

    .header .left h2 {
        font-size: 42px;
    }

    .header .left span {
        font-size: 62px;
    }

    .about h2 {
        font-size: 40px;
    }

    .about span {
        font-size: 50px;
    }

    .about p {
        font-size: 20px;
    }

    .contact h2 {
        font-size: 40px;
    }
    
    .contact p {
        font-size: 20px;
    }
    #gtBtn {
        margin-top: 30px;
    }

    .clientOrderBtn label {
        width: 150px;
        height: 150px;
        font-weight: 600;
        font-size: 20px;
    }

    .profileImg {
        text-align: center;
    }

    .profileImg img {
        width: 40%;
    }

    .profileName {
        justify-content: center;
    }

    .profileName h4 {
        padding: 20px 30px;
    }

    .qrImage img {
        width: 70%;
        border-radius: 30px;
    }
}

@media (max-width: 425px) {
    .header {
        text-align: center;
    }

    .header img {
        width: 70%;
    }

    .header .left {
        text-align: center;
    }

    .header .left h2 {
        font-size: 35px;
    }

    .header .left span {
        font-size: 52px;
    }

    .about h2 {
        font-size: 30px;
    }

    .about span {
        font-size: 30px;
    }

    .about p {
        font-size: 15px;
        line-height: 25px;

    }
    .contact h2 {
        font-size: 30px;
    }
    
    .contact p {
        font-size: 15px;
        line-height: 25px;

    }
    .footer {
        text-align: center;
    }
    .genratePara label {
        font-size: 18px;
    }

    .genrateBtn a {
        font-size: 15px;
    }

    .clientOrderBtn label {
        width: 150px;
        height: 150px;
        font-weight: 600;
        font-size: 17px;
    }

    .clientOrderBtn label span {
        font-size: 20px;
    }

    .profileImg img {
        width: 60%;
    }

    .profileHeading {
        font-size: 20px;
    }


    .modal-content{
        margin-left: 62px;
        margin-top: 36px;
    }

}

@media (max-width: 320px) {

    .genratePara label {
        font-size: 15px;
    }

    .clientOrderBtn label {
        width: 100px;
        height: 100px;
        font-weight: 600;
        font-size: 15px;
        padding: 20px;
    }

    .clientOrderBtn label span {
        font-size: 15px;
    }

    .profileHeading {
        font-size: 15px;
    }

    .loginForm .formSubmit {
        font-size: 15px;
    }

}